.score-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 28px 40px 40px 40px;
  background: linear-gradient(
    180deg,
    var(--light-slate-blue-bg) 0%,
    var(--light-royal-blue-bg) 100%
  );
  border-bottom-left-radius: 32px;
  border-bottom-right-radius: 32px;
}

@media (min-width: 768px) {
  .score-display {
    padding: 42px 52px 55px 52px;
    max-width: 368px;
    border-radius: 32px;
  }
}
